/* WPSeed Tooltips */
.wpseed-help-tip {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background: #666;
    color: #fff;
    font-size: 12px;
    cursor: help;
    margin-left: 4px;
}

.wpseed-help-tip:before {
    content: "?";
}

.wpseed-help-tip:hover {
    background: #333;
}
